@import "tailwindcss";

@import "./css/colors.css";
@import "./css/button.css";
@import "./css/table.css";
@import "./css/form.css";

body {
  font-size: 16px;
  background: var(--color-jlg);
  color: var(--color-jlg-900);
}

@utility title {
  @apply my-6 text-center text-3xl font-bold;
}

@utility main {
  @apply mx-auto flex w-full max-w-3xl flex-col items-center p-2;
}
